{% extends 'base/main.html' %} {% load static %}
<!-- ava -->
{% block content %}
<section class="mx-10 lg:mx-[16rem] items-center flex-col justify-center gap-1.5">
    <div>
        <h1 class="font-bold text-[35px] text-mainpurple text-center">
            About IDPCHAMPS
        </h1>
    </div>
    <div>
        <p>Our Mission:
        Save the displaced we  believe every child deserves a future.
        In the Nigeria and around the world, we work every day to give children and adults alike who are displaced, a healthy start in life, 
        the opportunity to learn and protection from harm. When crisis strikes and children are most vulnerable,
        we are always among the first to respond and the last to leave. We do whatever it takes for children - every day and in times of crisis 
        – transforming their lives and the future we share.</p>
       </div>
    <div class="flex flex-col md:flex-row lg:-mx-8 py-6">
        <div class="w-full lg:w-1/2 lg:px-8">
          <h6 class="text-sm uppercase font-semibold tracking-widest"></h6>
          <h2 class="text-3xl leading-tight font-bold mt-4 text-mainpurple">Why IdpChamps</h2>
          <p class="mt-2 leading-relaxed">Our pioneering programs address children's unique needs, giving them a healthy start in life, 
            the opportunity to learn and protection from harm. In the Nigeria and around the world, our work creates lasting change for children,
             their families and communities – ultimately,  transforming the future we all share. This work is only made possible
              by the ongoing generosity of our donors, whose valuable support is used in the most cost-effective ways.</p>
        </div>
      </div>
    </div>
     <div>
        <p> the first global movement for children, boldly declaring that children have rights. Today, we champion the rights of the world’s 2.3 billion children. 
            It is because of our commitment to children that Save the Children has garnered top ratings among other nonprofit organizations. Charity watch groups give us top ratings for
            achieving incredible results for children – with a proven track record of using donations efficiently and effectively. In fiscal year 2021, 85% of all expenditures went to program services.
        </p>
    </div>
     <div>
        <p>
            This work is only made possible by the ongoing generosity of our donors, whose valuable support is used in the most cost-effective ways.
            It's important to note that all our work intersects – helping a boy or girl go to school also protects them from dangers such as child trafficking and early marriage. Keeping children healthy from disease or malnutrition means their parents are more likely to avoid costly treatment and be better able to provide for their family.
            Because the climate crisis impacts all aspects of children’s lives, so too does Save the Children’s work.
            We don’t go into communities, carry out a project and then move on. We consult with children, their families, community leaders and local councils to understand all the issues or barriers, and then we develop programs that address these. We build trust so that our programs are successful and bring about real change</p>
    </div>
</section>
{% endblock content %}
